@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
    @apply font-josefin-sans;
}

@keyframes l1 {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.l1{
    opacity: 0;
    animation: l1 3s;
}

@keyframes sweep{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 100%;
    }
}

@keyframes main-sweep {
    0%{
        box-shadow: 2px 0 5px #cdf,
        0 3px 10px #fcc,
        4px 0 20px #fbd,
        0 5px 40px #daf;
    }
    50%{
        box-shadow: 0 2px 6px #fdf,
        3px 0 8px #fcf,
        0 4px 22px #fbf,
        5px 0 38px #faf;
    }
    100%{
        box-shadow: 2px 0 4px #ddf,
        3px 0 12px #fcd,
        0 4px 18px #fbc,
        0 5px 42px #caf;
    }
}

@keyframes inp-up {
    0%{transform: translateY(80px);}
    100%{transform: translateY(0);}
}
@keyframes inp-down {
    0%{transform: translateY(0);}
    100%{transform: translateY(80px);}
}

@keyframes main-up {
    0%{transform: scale(0) rotate(30deg);}
    100%{transform: scale(1) rotate(0deg);}
}
@keyframes main-down {
    0%{transform: scale(1) rotate(0deg);}
    100%{transform: scale(0) rotate(30deg);}
}

.sweep{
    animation: sweep 3.5s infinite;
    display: inline-block;
    background: #111 -webkit-linear-gradient(10deg, #111, #fff, #111, #111, #fff, #111) no-repeat 0 0 / 50px;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .5);
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Black Ops One', cursive;
}

.login-input{
    animation: inp-up 1s ease-out;
}

input{
    box-shadow: 2px 0 10px #fff,
    0 3px 15px #aff,
    4px 0 20px #faf,
    0 5px 25px #dbf,
    inset -20px 20px 100px #203;
    border: none;
}

button{
    box-shadow: 2px 0 5px #fff,
    0 3px 10px #aff,
    4px 0 15px #faf,
    0 5px 20px #dbf,
    inset -20px 20px 100px #203;
    border: none;
    cursor: pointer;
    transition: 0.3s box-shadow;
}

select{
    box-shadow: 2px 0 5px #fff,
    0 3px 10px #aff,
    4px 0 15px #faf,
    0 5px 20px #dbf,
    inset -20px 20px 100px #203;
    border: none;
}

textarea{
    box-shadow: 2px 0 5px #fff,
    0 3px 10px #aff,
    4px 0 15px #faf,
    0 5px 20px #dbf,
    inset -20px 20px 100px #203;
    border: none;
    background-color: #000;
}

button:hover:not(:disabled){
    box-shadow: 0 0 5px #fff,
    0 0 10px #aff,
    0 0 15px #faf,
    0 0 20px #dbf,
    inset -20px 20px 100px #203;
}

.main.sweep{
    animation: sweep 3.5s infinite;
    animation: main-sweep 1s infinite alternate-reverse;
    animation: main-up 1.5s ease-in-out;
    font-size: 64px;
    border-radius: 50%;
    box-shadow: 0 0 5px #fdf,
    0 0 10px #fcf,
    0 0 20px #fbf,
    0 0 40px #faf,
    inset -50px 50px 100px #203;
}

@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fade-out {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.fade{
    animation: fade 1s;
}


.fade-out{
    animation: fade 1s reverse;
    opacity: 0;
}

.shar{
    box-shadow: 0 0 10px #fff,
    0 0 30px #fff,
    inset 0 0 30px #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.font-anton{font-family: 'Anton', sans-serif;}
.font-roboto-mono{font-family: 'Roboto Mono', monospace;}
.font-black-han-sans{font-family: 'Black Han Sans', sans-serif;}
.font-black-ops-one{font-family: 'Black Ops One', cursive;}
.font-bebas-neue{font-family: 'Bebas Neue', cursive;}
.font-major-mono-display{font-family: 'Major Mono Display', monospace;}
.font-poppins{font-family: 'Poppins', sans-serif;}
.font-josefin-sans{font-family: 'Josefin Sans', sans-serif;}

.l2{
    background: linear-gradient(-45deg, #001, #102);
    z-index: -1;
}

.back{
    @apply absolute left-0 top-0 w-full h-full;
}

button:disabled, input:disabled, textarea:disabled, select:disabled{
    cursor: not-allowed;
    opacity: .5;
}

.shar2{
    box-shadow: 0 0 10px #f00,
    0 0 30px #f00,
    inset 0 0 10px #f00;
    text-shadow: 0 0 10px #f00,
    0 0 20px #f00,
    0 0 30px #f00;
}
.shar22{
    box-shadow: 0 0 10px #08f,
    0 0 30px #08f,
    inset 0 0 10px #08f;
    text-shadow: 0 0 10px #08f,
    0 0 20px #08f,
    0 0 30px #08f;
}

@keyframes up {
    0%{transform: translateY(100px);}
    100%{transform: translateY(0);}
}

.up{
    animation: up 0.7s ease-out;
}

@keyframes down {
    0%{transform: translateY(0);}
    100%{transform: translateY(100px);}
}

.down{
    animation: down 0.7s ease-in;
    transform: translateY(100px);
}

.bar{
    background: linear-gradient(-45deg, #001, #102);
}

@keyframes scale-up{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes scale-down{
    0%{transform: scale(1);}
    100%{transform: scale(0);}
}

@keyframes matched {
    0%{
        background: #fff0;
        color: #fff;
    }
    100%{
        background: #ffff;
        color: #000;
    }
}
@keyframes match-found {
    0%{background: #ffff;}
    100%{background: #8cf;}
}

@keyframes back-shadow {
    0%, 100%{
        box-shadow: inset 0 0 10px #fff0,
        inset 0 0 20px #fff0,
        inset 0 0 30px #fff0;
    }
    10%{
        box-shadow: inset 0 0 10px #fff9,
        inset 0 0 20px #fff8,
        inset 0 0 30px #fff7;
    }
    
}

.match:not(.matched, .match-found){
    @apply bg-[#fff0] text-white hover:bg-[#fff2];
}
.match.matched:not(.match-found){
    @apply bg-white text-black hover:bg-[#fffa];
}
.match.match-found{@apply bg-[#8cf] text-black;}

.nav-menu{
    @apply p-2 rounded-md text-lg w-48 select-none cursor-pointer text-center font-bold shar3 font-black-han-sans;
    transition: all 0.3s ease-in-out;
}

.nav-menu:not(:disabled):hover{
    box-shadow: 8px -8px 10px #faf,
    0 10px 20px #aff,
    -8px -8px 10px #ffa,
    inset 0 0 10px #fff;
    transform: scale(1.1);
}

.nav-menu.active{
    background-color: #fff7;
}

.nav-menu.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.shar3{
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    inset 0 0 10px #fff;
}

.shar4{
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff;
}

.shar5{
    box-shadow: 0 0 10px #7ff,
    0 0 20px #f7f,
    0 0 30px #ff7,
    inset 0 0 10px #fffa;
}

@keyframes page-up{
    0%{transform: translateY(-100px) rotate(-5deg); opacity: 0;}
    100%{transform: translateY(0) rotate(0deg); opacity: 1;}
}

@keyframes page-down{
    0%{transform: translateY(0) rotate(0); opacity: 1;}
    100%{transform: translateY(100px) rotate(5deg); opacity: 0;}
}

::-webkit-scrollbar {width: 9px; border-radius: 100px;}
::-webkit-scrollbar-track {background: #f1f1f1; border-radius: 100px;}
::-webkit-scrollbar-thumb {background: #888; border-radius: 100px;}
::-webkit-scrollbar-thumb:hover {background: #555;}

.sha{
    box-shadow: 2px 0 5px #fff,
    0 3px 10px #aff,
    4px 0 15px #faf,
    0 5px 20px #dbf,
    inset -20px 20px 100px #203;
    border: none;
}

@keyframes left-up{
    0%{transform: translateX(-200px) scale(0.95); opacity: 0.5;}
    100%{transform: translateX(0) scale(1); opacity: 1;}
}

@keyframes right-up{
    0%{transform: translateX(200px) scale(0.95); opacity: 0.5;}
    100%{transform: translateX(0) scale(1); opacity: 1;}
}

@keyframes left-down{
    0%{transform: translateX(0) scale(1); opacity: 1;}
    100%{transform: translateX(-200px) scale(0.95); opacity: 0.5;}
}

@keyframes right-down{
    0%{transform: translateX(0) scale(1); opacity: 1;}
    100%{transform: translateX(200px) scale(0.95); opacity: 0.5;}
}

@keyframes top-up{
    0%{transform: translateY(-200px) scale(0.95); opacity: 0.5;}
    100%{transform: translateY(0) scale(1); opacity: 1;}
}

@keyframes bottom-up{
    0%{transform: translateY(200px) scale(0.95); opacity: 0.5;}
    100%{transform: translateY(0) scale(1); opacity: 1;}
}

@keyframes top-down{
    0%{transform: translateY(0) scale(1); opacity: 1;}
    100%{transform: translateY(-200px) scale(0.95); opacity: 0.5;}
}

@keyframes bottom-down{
    0%{transform: translateY(0) scale(1); opacity: 1;}
    100%{transform: translateY(200px) scale(0.95); opacity: 0.5;}
}

@keyframes spawn {
    0%{background-color: #f8f;}
    100%{background-color: transparent;}
}

@keyframes go-out {
    0%{transform: scale(1);opacity: 1;}
    100%{transform: scale(1.5);opacity: 0;}
}